<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="csrf-token" content="<%= csrfToken %>"/>
    <link href="./css/styles.css" rel="stylesheet" />
    <title><%= title %></title>
    </head>
    <body class="bg-slate-300">
    <div class="flex justify-center items-center h-screen">
        <div class="w-100 p-10 bg-white rounded shadow">
            <h1 class="text-4xl font-bold mb-8 text-gray-900">Login to your account</h1>
            <form action="/session" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="mb-4">
                    <label for="email" class="text-gray-700">Email:</label>
                    <input type="email" name="email" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="mb-4">
                    <label for="password" class="text-gray-700">Password:</label>
                    <input type="password" name="password" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="flex justify-center mt-6">
                    <button type="submit" class="text-white bg-blue-500 hover:bg-blue-600 rounded px-5 py-2">Sign In</button>
                </div>
            </form>
            <div class="py-2">
                <% if(messages && messages.error && messages.error.length>0){ %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <li class=" py-2 px-2 border bg-red-200 rounded"> 
                            <%= messages.error[i] %>
                        </li>
                    <%} %>
                <%}%>
            </div>
        </div>
    </div>
</body>
</html>
